<!DOCTYPE HTML>

<html>
  <head>
    <title>TEST INDEX</title>
    <meta charset="utf-8">
    <script type="text/javascript"
            src="{{ url_for('static', filename='socket.io/socket.io.js')}}">
    </script>
    <script type="text/javascript" charset="utf-8">
      window.onload = () => {
        const socket = io()
        socket.on('connect', () => {
          console.log('Connected')
        })
        socket.on('my_pong', msg => console.log(msg))

        socket.emit('my_ping', {message: "Hello from JS!"})
      }
    </script>
  </head>
  <body>
    <p>Test index</p>

    <p>Can I change it?</p>
  </body>
</html>
